<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main>
        <h2>Admin Login</h2>
        <form action="/login" method="POST">
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button> <button type="home" onclick="window.location.href='/'">Home</button>
            <div>
                <p>Don't have an account? <a href="/register">Register here</a></p>
            </div>
        </form>

        <% if (error) { %>
            <p style="color: red; margin-top: 1rem;"><%= error %></p>
        <% } %>
    </main>
</body>
</html>